.event-page-day,
.event-page-day * {
  box-sizing: border-box;
}
.event-page-day {
  background: #ffffff;
  padding: 15px 35px 15px 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1713px;
  position: relative;
  overflow: hidden;
}
.theme-switcher{
  
  position: absolute;
  top: 20px;
  right: 0%;
  z-index: 1000;
  }
.frame-2 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1370px;
  position: relative;
  overflow: hidden;
}
.name {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  flex: 1;
  height: 48px;
}
.content {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 602px;
  position: relative;
}
.image {
  background: #dedede;
  border-radius: 15px;
  flex-shrink: 0;
  width: 900px;
  height: 560px;
  position: relative;
  overflow: hidden;
}
.owners {
  background: #d9d9d9;
  border-radius: 15px;
  flex: 1;
  height: 560px;
  position: relative;
  overflow: hidden;
}
.reg {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.category {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: relative;
  width: 657px;
}
.dd-mm-yyyy-dd-mm-yyyy {
  color: #888888;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 26px;
  font-weight: 600;
  position: relative;
}
.list {
  background: #2979ff;
  border-radius: 15px;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.chevron-down {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.button {
  background: #2979ff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 330px;
  position: relative;
  overflow: hidden;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 26px;
  font-weight: 600;
  position: relative;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.desc {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 634px;
  height: 322px;
  position: relative;
  overflow: hidden;
}
.head {
  padding: 13px 0px 13px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.description {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: relative;
}
.content2 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div3 {
  color: #595959;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  flex: 1;
  height: 232px;
}
.plan {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.plan2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: relative;
}
.content3 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.event {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.date {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dd-mm-yyyy {
  color: #6d6d6d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.start {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
.event2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
.end {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.head2 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.comments2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: relative;
}
.content4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.user {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.icon {
  background: #d5d5d5;
  border-radius: 29px;
  align-self: stretch;
  flex-shrink: 0;
  width: 50px;
  position: relative;
  overflow: hidden;
}
.user2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: relative;
}
.text2 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div4 {
  color: #444444;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 136px;
}

.comment-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
  justify-content: flex-start;
  margin-top: 20px;
}

.comment-input input {
  width: 100%;
  min-width: 1000px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.comment-input input:focus {
  border-color: #2979ff;
}

.comment-input button {
  width: 20%;
  height: 45px;
  padding: 10px 20px;
  background-color: #2979ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;  
  border-radius: 10px;
  
}

.comment-input button:hover {
  background-color: #1a5fb8;
}

.comment-input button:active {
  background-color: #164a91;
}


.select {
  color: #ffffff;
  font-size: 25px;
  background-color: #2979FF;
  border: none;
  font-family: 'inter', sans-serif;
  
}

.select, option, .comment-input button {
  font-weight: bold;
}
