<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создание события</title>
  <link rel="stylesheet" href="{% static 'css/add_event.css' %}">
</head>
<body>
  <div class="form-container">
    <div class="form-header">Создание события</div>
    <div class="form-body">
      <form id="eventForm">
        <div class="form-group">
          <label for="images">Добавить изображения:</label>
          <input type="file" id="images" accept="image/*" multiple>
          <div id="imagePreview"></div>
        </div>
        <div class="form-group">
          <label for="eventName">Название события:</label>
          <input type="text" id="eventName" placeholder="Введите название" required>
        </div>
        <div class="form-group">
          <label for="eventDescription">Описание:</label>
          <textarea id="eventDescription" rows="4" placeholder="Введите описание" required></textarea>
        </div>
        <div class="form-group">
          <label for="eventCategory">Категория:</label>
          <select id="eventCategory" required>
            <option value="" disabled selected>Выберите категорию</option>
            <option value="news">Новости и события</option>
            <option value="techs">Технологии и инновации</option>
            <option value="health">Здоровье и фитнесс</option>
            <option value="hobbies">Хобби и увлечения</option>
            <option value="literature">Книги и литература</option>
            <option value="cinema">Кино и телевидение</option>
            <option value="games">Игры</option>
            <option value="education">Образование и карьера</option>
            <option value="trips">Путешествия и отдых</option>
            <option value="services">Сервисы</option>
            <option value="social">Социальные вопросы</option>
            <option value="other">Другое</option>
          </select>
        </div>
        <div class="form-group">
          <label for="eventDate">Дата:</label>
          <input type="date" id="eventDate" required>
        </div>
        <div class="form-group">
          <label for="eventPlace">Место:</label>
          <input type="text" id="eventPlace" placeholder="Введите место" required>
        </div>
        <div class="form-group">
          <button type="submit">Создать</button>
        </div>
      </form>
    </div>
  </div>

  {% comment %} <script src="{% static %}"></script> {% endcomment %}
</body>
</html>
