<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ event.name }}</title>
    <link rel="stylesheet" href="{% static 'css/eventpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">

    <script src="{% static 'js/theme.js' %}" defer></script>
    <style>
        body {
            background-color: white;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        body.dark-theme {
            background-color: black;
        }

        .theme-toggle {
            border: none;
            cursor: pointer;
            outline: none;
            background: none;
        }

        .theme-toggle img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.5s ease;
        }

        .theme-toggle img.active {
            transform: rotate(360deg);
        }
    </style>

</head>
<body>
<div class="event-page-day text" id="block">
    <!-- Заголовок события -->
    <div class="frame-2">
        <div class="top-bar">
            <a href="/">
        <img class="luna-meet_image" id="logo"/>
    </a>
            <div class="theme-switcher">
                <button id="theme-toggle" class="theme-toggle">
                    <img id="theme-icon" alt="Theme Icon" style="width: 24px; height: 24px;">
                </button>
            </div>
        </div>
        <div class="name text">{{ event.name }}</div>
        <div class="theme-switcher">
            <button id="theme-toggle" class="theme-toggle">
                <img id="theme-icon" alt="Theme Icon" style="width: 24px; height: 24px;">
            </button>
        </div>
    </div>

    <!-- Контент события -->
    <div class="content">
        <div class="image" id="image">
            <!-- Отображение картинок события -->
            {% if event.photos.all %}
            {% for photo in event.photos.all %}
            <img src="{{ photo.photo.url }}" alt="Event Photo" class="event-photo"/>
            {% endfor %}
            {% else %}
            <p class="text">Фотографий нет.</p>
            {% endif %}
        </div>

        <div class="owners">
            <p class="text">Организаторы:</p>
            {% for organizer in event.organizers_id.all %}
            <p class="text">{{ organizer.username }}</p>
            {% empty %}
            <p class="text">Организаторов нет</p>
            {% endfor %}
        </div>
    </div>


    <!-- Регистрация и категория события -->
    <div class="reg">
        <div class="info-block">
            <div class="category text">Категория: {{ event.category.name }}</div>
            <div class="place">Место: {{ event.place }}</div>
        </div>
        <div class="select-block">
            <form id="form_select">
                {% csrf_token %}
                <div class="list">
                    <select class="select" id="select">
                        <option value="Не был(а)">Не был(а)</option>
                        <option value="Был(а)">Был(а)</option>
                        <option value="Планирую">Планирую</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <!-- Описание события -->
    <div class="info">
        <div class="desc">
            <div class="description">Описание</div>
            <div class="div3 text">{{ event.description }}</div>
        </div>

        <!-- План мероприятия -->
        <div class="plan">
            <div class="plan2">Расписание</div>
            {% if event.time_codes.all %}
            <div class="event">
                <ul class="timecods">
                    {% for timecod in event.time_codes.all %}
                    <li class="timecod">{{ timecod.time|date:"d.m.Y" }} - {{ timecod.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <p  class="text">Нет распиания.</p>
            {% endif %}
        </div>
    </div>

    <!-- Комментарии -->
    <div class="comments">
        <div class="comments2">Коментарии</div>
        <form action="" method="post" id="form">
            {% csrf_token %}
            <div class="comment-input">
                <input type="text" placeholder="Введите комментарий..." id="commentInput" name="comment"/>
                <button class="comment-btn" id="comment-btn" type="submit">Добавить</button>
            </div>
        </form>

        <!-- Отображение комментариев пользователей -->
        {% for comment in event.comments_set.all %}
        <div class="comment">
            <div class="user">
                <div class="user2">{{ comment.user.username }}</div>
            </div>
            <div class="div4">
                {{ comment.text }}
            </div>
        </div>
        {% empty %}
        <p class="text">Нет комментариев.</p>
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/eventpage.js' %}"></script>
</body>
</html>
