<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up Page</title>
    <link rel="stylesheet" href='{% static "css/eventpage.css" %}' />
    <script src="{% static 'js/theme.js' %}" defer></script>
</head>
<body>
  <div class="theme-switcher">
    <button id="switch-theme-btn" class="round-button">
        <img id="theme-icon" src="{% static 'img/moon.png' %}" alt="Theme Icon" style="width: 24px; height: 24px;">
    </button>
</div>
<div class="event-page-day">
    <div class="frame-2">
      <div class="name">Name</div>
    </div>
    <div class="content">
      <div class="image"></div>
      <div class="owners"></div>
    </div>
    <div class="reg">
      <div class="category">Category:</div>
      <div class="dd-mm-yyyy-dd-mm-yyyy">dd.mm.yyyy - dd.mm.yyyy</div>
      <div class="list">
        <select class="select"><option value="Не был(а)">Не был(а)</option><option value="Был(а)">Был(а)</option><option value="Планирую">Планирую</option></select>
        <!-- <img class="chevron-down" src="chevron-down0.svg" /> -->
      </div>
      <div class="button">
        <div class="div2">Зарегестрироваться</div>
      </div>
    </div>
    <div class="info">
      <div class="row">
        <div class="desc">
          <div class="head">
            <div class="description">Description</div>
          </div>
          <div class="content2">
            <div class="div3">
              Задача организации, в особенности же реализация намеченных плановых
              заданий играет важную роль в формировании направлений прогрессивного
              развития. Задача организации, в особенности же постоянное
              информационно-пропагандистское обеспечение нашей деятельности
              позволяет оценить значение соответствующий условий активизации.
              Товарищи! рамки и место обучения кадров требуют
            </div>
          </div>
        </div>
        <div class="plan">
          <div class="head">
            <div class="plan2">Plan</div>
          </div>
          <div class="content3">
            <div class="event">
              <div class="date">
                <div class="dd-mm-yyyy">dd.mm.yyyy</div>
              </div>
              <div class="text">
                <div class="start">Start</div>
              </div>
            </div>
            <div class="event">
              <div class="date">
                <div class="dd-mm-yyyy">dd.mm.yyyy</div>
              </div>
              <div class="text">
                <div class="event2">Event</div>
              </div>
            </div>
            <div class="event">
              <div class="date">
                <div class="dd-mm-yyyy">dd.mm.yyyy</div>
              </div>
              <div class="text">
                <div class="event2">Event</div>
              </div>
            </div>
            <div class="event">
              <div class="date">
                <div class="dd-mm-yyyy">dd.mm.yyyy</div>
              </div>
              <div class="text">
                <div class="event2">Event</div>
              </div>
            </div>
            <div class="event">
              <div class="date">
                <div class="dd-mm-yyyy">dd.mm.yyyy</div>
              </div>
              <div class="text">
                <div class="end">End</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="head2">
        <div class="comments2">Comments</div>
      </div>
      <div class="comment-input">
        <input type="text" placeholder="Введите комментарий..." />
        <button>Добавить</button>
      </div>      
      
      <div class="content4">
        <div class="comment">
          <div class="user">
            <div class="icon"></div>
            <div class="user2">user</div>
          </div>
          <div class="text2">
            <div class="div4">
              Есть над чем задуматься: стремящиеся вытеснить традиционное
              производство, нанотехнологии неоднозначны и будут своевременно
              верифицированы. Также как постоянное информационно-пропагандистское
              обеспечение нашей деятельности говорит о возможностях новых
              предложений.
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="user">
            <div class="icon"></div>
            <div class="user2">user</div>
          </div>
          <div class="text2">
            <div class="div4">
              Есть над чем задуматься: стремящиеся вытеснить традиционное
              производство, нанотехнологии неоднозначны и будут своевременно
              верифицированы. Также как постоянное информационно-пропагандистское
              обеспечение нашей деятельности говорит о возможностях новых
              предложений.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html> 