<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LunaMeet</title>
    <link rel="stylesheet" href='{% static "css/login.css" %}' /> <!-- Подключение CSS -->
</head>
<body>
  <div class="login">
    <div class="image-container">
      <div class="image"></div>
    </div>
    <div class="content">
      <div class="block">
        <div class="head">
          <img src='{% static "img/LunaMeet_without_background.png" %}' alt="LunaMeet Logo" class="luna-meet_image">
        </div>      
        <div class="frame">
          <div class="head2">
            <div class="sign-in">Sign-in</div>
          </div>
          <div class="main">
            <input type="text" class="input email" placeholder="Email...">
            <input type="password" class="input password" placeholder="Password...">
          </div>
          <div class="button">
            <div class="sign-in2">Sign-in</div>
          </div>
          <div class="to-sign-up">
            <div class="no-account">No account?</div>
            <a href="#" class="sign-up">Sign-up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
