<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LunaMeet</title>
    <link rel="stylesheet" href='{% static "css/login.css" %}' /> <!-- Подключение CSS -->
    
    <link  rel="stylesheet" href="{% static 'css/popup.css' %}">
</head>
<body>
  <div class="theme-switcher">
    <button id="switch-theme-btn" class="round-button">
        <img id="theme-icon" src="{% static 'img/moon.png' %}" alt="Theme Icon" style="width: 24px; height: 24px;">
    </button>
</div>
  <div class="login">
    <div class="image-container">
      <div class="image">

      </div>
    </div>
    <div class="content">
      <div class="block">
        <div class="head">
<!--          <img src='{% static "img/LunaMeet_without_background.png" %}' alt="LunaMeet Logo" class="luna-meet_image">-->
        </div>
        <div class="frame">
          <div class="head2">
            <div class="sign-in">Sign-in</div>
          </div>
          <form id="form" action="/user-sign-in" method="post">
            <div class="main">
              {% csrf_token %}
              <input type="text" class="input email" name="email" placeholder="Email...">
              <input type="password" class="input password" name="password" placeholder="Password...">
              <button type="submit" class="button">Sign-in</button>
            </div>
          </form>
          <div class="to-sign-up">
            <div class="no-account">No account?</div>
            <a href="sign-up" class="sign-up">Sign-up</a>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
  </div>
</body>
</html>
