<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LunaMeet</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
<div class="profile">
  <div class="body">
    <!-- Блок профиля -->
    <div class="profily">
      <div class="icon"></div>
      <div class="info">
        <div class="field">
          <div class="name">Name</div>
          <div class="value">{{ user.username }}</div>
        </div>
        <div class="field2">
          <div class="name">Email</div>
          <div class="value">{{ user.email }}</div>
        </div>
        <div class="field3">
          <div class="name">Description</div>
          <div class="value">{{ user.description }}</div>
        </div>
      </div>
    </div>

    <!-- Блок событий -->
    <div class="content">
      <!-- Planned Events -->
      <div class="block">
        <div class="head">
          <div class="planned">Planned</div>
        </div>
        <div class="content2">
          {% for event in planned_events %}
          <div class="card">
            <div class="location">{{ event.location }}</div>
            <div class="dates">{{ event.start_date }} - {{ event.end_date }}</div>
            <div class="title">{{ event.name }}</div>
            <div class="image">
              <img src="{{ event.image.url }}" alt="{{ event.name }}">
            </div>
          </div>
          {% empty %}
          <p>No planned events</p>
          {% endfor %}
        </div>
      </div>

      <!-- Visited Events -->
      <div class="block">
        <div class="head">
          <div class="visited">Visited</div>
        </div>
        <div class="content2">
          {% for event in visited_events %}
          <div class="card">
            <div class="location">{{ event.location }}</div>
            <div class="dates">{{ event.start_date }} - {{ event.end_date }}</div>
            <div class="title">{{ event.name }}</div>
            <div class="image">
              <img src="{{ event.image.url }}" alt="{{ event.name }}">
            </div>
          </div>
          {% empty %}
          <p>No visited events</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>